/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --white-color: #ffffff;
  --black-color: #000000;
  --tint2-bg-color: #d9d9d9;

  --card-title-size: 16px;
  --card-title-weight: 700;

  --section-title-size: 22px;
  --section-title-weight: 700;

  --information-size: 16px;
  --information-weight: 400;

  --header-nav-link-size: 16px;
  --header-nav-link-weight: 400;

  --filter-text-size: 17px;
  --filter-text-weight: 700;

  --search-text-size: 18px;
  --search-text-weight: 700;

  --footer-title-size: 18px;
  --footer-title-weight: 700;
  --footer-link-size: 16px;
  --footer-link-weight: 400;
}

h3 {
  font-size: var(--section-title-size);
  font-weight: var(--section-title-weight);
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
}

.layout-margin {
  margin: 0 50px;
}

.banner-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.logo-container {
  padding: 30px;
}

.logo {
  width: 61px;
  height: 19px;
}

.anchor-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 68px;
  align-self: flex-start;
  width: 328px;
  padding: 0 25px;
}

.anchor {
  padding-top: 14px;
  border-top: var(--white-color) 2px solid;
}

.anchor:hover,
.anchor:active {
  border-top: var(--main-color) 2px solid;
  color: var(--main-color) !important;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.smaller-title {
  font-size: 18px;
  font-weight: 700;
}

.card {
  background-color: var(--white-color);
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.card-subtitle {
  margin: 0;
  font-size: 14px;
}

.card-rating {
  margin-bottom: 5px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

.link {
  text-decoration: none;
  color: var(--black-color);
}

.section-margin {
  margin-bottom: 35px;
}

.m-0 {
  margin: 0;
}

/****** Infos group ******/
.info-subtitle {
  font-size: 14px;
  font-weight: 400;
}

.searchbar-container {
  display: flex;
  width: 377px;
  height: 49px;
  max-height: 49px;
  box-sizing: border-box;
  border-radius: 15px;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 49px;
  width: 50px;
  min-width: 50px;
  max-width: 50px;
  background-color: var(--main-bg-color);
  border: 1px solid var(--main-bg-color);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.search-input-container {
  display: flex;
  border: 1px solid var(--main-bg-color);
  /* padding: 0 24px; mieux margin ou padding ?*/
}

.search-input {
  width: 147px;
  font-size: 18px;
  font-weight: 700;
  margin: 0 24px;
  padding: 0;
  border: none;
  border-radius: 0px;
}

input {
  outline: none;
}

.submit-button {
  display: flex;
  align-items: center;
  color: var(--white-color);
  background-color: var(--main-color);
  height: 100%;
  border: 1px solid var(--main-color);
  padding: 15px 16px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.search-button-text {
  display: block;
}

.search-button-icon {
  display: none;
}

/****** Filters ******/
.filters-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.filters {
  display: flex;
  gap: 15px;
}

.filter {
  display: flex;
  gap: 10px;
  padding: 4px 19px;
  border: 2px solid var(--tint2-bg-color);
  border-radius: 25px;
}

.filter:hover {
  background-color: var(--filter-bg-color);
}

.filter-icon-container {
  display: flex;
  align-self: center;
}

.filter-icon {
  font-size: 22px;
}

.filter-name {
  font-size: 17px;
  font-weight: 700;
  cursor: default;
}

/****** Infobar ******/
.infobar-container {
  display: flex;
  gap: 10px;
}

.infobar-icon-container {
  display: flex;
  border: 1px solid var(--main-bg-color);
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.info-text {
  font-size: 16px;
  font-weight: 400;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.hebergements .section-title {
  margin-bottom: 30px;
}

.hebergements-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 30px;
}

.hebergements-cards img {
  width: 100%;
  height: 124px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
  width: 100%;
  padding-left: 15px;
  box-sizing: border-box;
}

.hebergements-cards .card-title {
  margin-top: 4px;
  margin-bottom: 8px;
}

.hebergements-cards .card-subtitle {
  margin-bottom: 8px;
}

/****** Populaires ***********/
.populaires {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 32%;
}

.populaires-cards {
  display: flex;
  flex-direction: column;
  gap: 33px;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding: 0 5px 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-bottom: 4px;
}

/****** Activities ******/
.activities {
  padding: 30px;
  box-sizing: border-box;
}

.activities .section-title {
  margin-bottom: 30px;
}

.activities-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.activities-cards .card {
  padding: 0 0 20px 0;
  width: 100%;
}

.activities-cards img {
  height: 380px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.activities-cards .card-title {
  margin: 20px 19px 0 19px;
}

/****** Footer ******/
footer {
  background-color: var(--main-bg-color);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 163px;
  padding: 20px;
  box-sizing: border-box;
}

footer .smaller-title {
  padding-bottom: 8px;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer li {
  list-style-type: none;
  padding-bottom: 8px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .search-and-filter-container {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  .filters-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 20px;
  }

  .filter-name {
    font-size: 16px;
  }

  .hebergements-and-populaires {
    flex-direction: column;
    gap: 50px;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    /* margin-top: 50px; */
  }

  .populaires-cards {
    display: grid;
    flex-direction: row;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  /* .populaires-cards .card {
    width: 30%;
  } */
  /* 
  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  } */

  .activities-cards .card {
    height: 270px;
  }

  .activities-cards img {
    height: 200px;
  }

  footer {
    gap: 30px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .main-container {
    max-width: 100%;
    width: 100%;
  }

  .overflow-hidden {
    overflow: hidden;
  }

  .section-margin {
    overflow: hidden;
    margin-bottom: 0;
  }

  .banner-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    margin: 0;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    padding: 30px;
  }

  .logo {
    align-self: center;
  }

  .anchor-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 100%;
    text-align: center;
    gap: 0;
    align-self: center;
    padding: 0;
    box-sizing: border-box;
  }

  .anchor {
    padding: 0;
    padding-bottom: 14px;
  }

  .anchor:hover,
  .anchor:active {
    border-top: none;
    border-bottom: 2px solid var(--main-color);
  }

  .layout-margin {
    margin: 0;
  }

  .search-and-filter-container {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 30px;
    margin-bottom: 35px;
  }

  .filters-container {
    /* display: flex; */
    gap: 20px;
  }

  .filters {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    row-gap: 20px;
    align-items: center;
  }

  .filter {
    width: auto;
    white-space: nowrap;
  }

  .filter-name {
    font-size: 14px;
  }

  .submit-button {
    border-radius: 15px;
  }

  .search-button-text {
    display: none;
  }

  .search-button-icon {
    display: block;
    color: var(--white-color);
  }

  .info-text {
    overflow-wrap: break-word;
  }

  .hebergements-and-populaires {
    flex-direction: column-reverse;
    gap: 15px;
    margin-bottom: 35px;
  }

  .hebergements-and-populaires section {
    border-radius: 0;
    background-color: inherit;
  }

  .hebergements {
    width: 100%;
    border-radius: 0;
    padding: 20px;
  }

  .hebergements-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
  }

  .order-1 {
    order: 1;
  }

  .order-2 {
    order: 2;
  }

  .order-3 {
    order: 3;
  }

  .populaires {
    width: 100%;
    border-radius: 0;
    background-color: var(--main-bg-color) !important;
  }

  .populaires-cards {
    display: flex;
    flex-direction: column;
  }

  .populaires-cards .card {
    display: flex;
    width: 100%;
    margin-top: 11px;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .activities {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    margin-bottom: 35px;
  }

  .activities-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
  }

  .activities .card {
    padding: 0;
  }

  footer {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 30px;
    width: 100%;
    max-width: 100%;
    gap: 50px;
    box-sizing: border-box;
  }

  footer .smaller-title {
    padding-bottom: 15px;
  }

  footer ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
